@using HRMWebApp.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/Content/Images/favicon.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title @(String.IsNullOrEmpty(HRMWebApp.Helper.GlobalConstants.BUSINESS_NAME) ? "" : " - " + HRMWebApp.Helper.GlobalConstants.BUSINESS_NAME)</title>
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery", "~/bundles/lite")
    @{
        InfoLogin _userInfo = InfoLogin.GetCurrentUser(System.Web.HttpContext.Current);
    }
</head>
<body>
    <div class="single-widget-container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/lite")
    @RenderSection("scripts", required: false)
    @Html.Partial("_SettingAndSidebar")
</body>
</html>
