<div id="modal-menu" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="form-group">
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- Side bar -->
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> <span class="name">Trang chủ</span></a>
        </li>
        <li>
            <a href="@Url.Action("Index","Users")"><i class="fa fa-users"></i> <span class="name">Nhân viên</span></a>
        </li>
        <li>
            <a href="@Url.Action("Index","Payrolls")"><i class="fa fa-upload"></i> <span class="name">Bảng lương tổng hợp</span></a>
        </li>
        <li>
            <a href="@Url.Action("PayrollsDetail","Payrolls")"><i class="fa fa-eye"></i> <span class="name">Bảng lương chi tiết</span></a>
        </li>
        <li>
            <a href="@Url.Action("Logout","Home")"><i class="fa fa-sign-out"></i> <span class="name">Đăng xuất</span></a>
        </li>
    </ul>
</nav>
