@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="list-widget widget">
    <header>
        <h4>ĐỔI MẬT KHẨU</h4>
    </header>
    <div class="body">
        <div class="row form-group">
            <div class="form-group col-sm-12 margin-bottom">
                @Html.Label("Mật khẩu cũ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.Password("OldPassword", "", new { @class = "form-control input-transparent", placeholder = "Điền mật khẩu cũ" })
                </div>
            </div>
            <div class="form-group col-sm-12 margin-bottom">
                @Html.Label("Mật khẩu mới", new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.Password("NewPassword", "", new { @class = "form-control input-transparent", placeholder = "Điền mật khẩu mới" })
                </div>
            </div>
            <div class="form-group col-sm-12 margin-bottom">
                @Html.Label("Xác nhận mật khẩu", new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.Password("ConfirmPassword", "", new { @class = "form-control input-transparent", placeholder = "Điền xác nhận mật khẩu" })
                </div>
            </div>
            
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <button type="button" id="btn-save" class="btn btn-success"><i class="fa fa-save"></i> Lưu mật khẩu</button>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            function pageLoad() {
                $("#btn-save").click(function (e) {
                    var oldPassword = $("#OldPassword").val();
                    var newPassword = $("#NewPassword").val();
                    var confirmPassword = $("#ConfirmPassword").val();
                    $.ajax({
                        cache: false,
                        async: true,
                        type: "POST",
                        url: '@Url.Action("ChangePassword", "Users")',
                        data: {
                            oldPassword: oldPassword,
                            newPassword: newPassword,
                            confirmPassword: confirmPassword
                        },
                        success: function (data) {
                            alert(data.message);
                        }
                    });
                });
            }
            pageLoad();
            PjaxApp.onPageLoad(pageLoad);
        });
    </script>
}